<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/resources/css/menu.css">
    <title>Menu</title>
</head>
<body>


<header class="he">
    <div class="container">
        <div class="hei">
            <div class="hel">Пельменная</div>

            <nav class="nav">
                <a class="navl" href="/">Main</a>
                <a class="navl" href="/about">About</a>
                <a class="navl" href="/tables">Tables</a>
                <a class="navl" href="/menu">Menu</a>
                <a class="navl" href="/anotations">Anotations</a>
            </nav>
        </div>
    </div>
</header>


<div class="intro2">
    <div class="menu">
        <table>
            <colgroup>
                <col span="3" style="background:White">
                <col style="background-color:LightCyan">
            </colgroup>
            <tr>
                <th style="width: 100px;"></th>
                <th style="width: 200px;"></th>
                <th style="width: 700px;">Name</th>
                <th style="width: 100px">Price</th>
            </tr>
            <tr>
                <td>1</td>
                <td><img src="/resources/images/pel.jpeg" alt="" height="200px"> </td>
                <td>Пельмени</td>
                <td>20,00</td>
            </tr>
            <tr>
                <td>2</td>
                <td><img src="/resources/images/хинкали.jpeg" alt="" height="200px"> </td>
                <td>Хинкали</td>
                <td>30,00</td>
            </tr>
            <tr>
                <td>3</td>
                <td><img src="/resources/images/манты.jpeg" alt="" height="200px"> </td>
                <td>Манты</td>
                <td>40,00</td>
            </tr>
            <tr>
                <td>4</td>
                <td><img src="/resources/images/гёдзе.jpeg" alt="" height="200px"> </td>
                <td>Гёдзе</td>
                <td>50,00</td>
            </tr>
            <tr>
                <td>5</td>
                <td><img src="/resources/images/sm.jpeg" alt="" height="200px"> </td>
                <td>Сметана</td>
                <td>5,00</td>
            </tr>
        </table>
    </div>

</div>
</body>
</html>